<div class="contents row">
  <% @itemlists.each do |itemlist| %>
    <div class="content_post" style="background-image: url(<%= itemlist.image %>);">
      <p><%= itemlist.text %></p>
      <span class="name">
        <%= itemlist.name %>
      </span>
    </div>
  <% end %>
</div>
#ユーザー新規作成時にエラー発生nameが入力したのに空で送信されていることになっている、まずはここから解消