<div class="contents row">
  <% @itemlists.each do |itemlist| %>
    <div class="content_post" style="background-image: url(<%= itemlist.image %>);">
          <div class="overlay">
        <input type="checkbox" class="checkbox">
      </div>
      <p><%= itemlist.text %></p>
      <span class="name">
        <%= itemlist.name %>
      </span>
    </div>
  <% end %>
</div>
#エラーの解消完了、明日は画像を保存して３列で表示できるようにする
